.thoughts-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.thought-card {
    position: relative;
    margin-bottom: var(--gap);
    padding: var(--gap);
    transition: transform 0.1s;
    border-bottom: 1.5px solid #e5e5e5;
}

.thought-content {
  font-size: 16px;
  line-height: 1.6;
  color: var(--secondary);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.thought-date {
  font-size: 14px;
  color: var(--secondary);
  text-align: right;
}

.thought-content:hover {
  transition: 0.15s;
  color: var(--hover-highlight);
}